// COMIENZO FOOTER
.suscribite{
        padding: 1rem;
        background: rgb(255, 124,0);
        
        @media screen and (max-width:768px)
            {
                display: none;
            }
        & .suscribite__titulo{
            font-size: 30px;
            font-family: 'Source Code Pro', monospace;
        }
        &__formulario{
            text-align: center;
            padding: 21px;
            border-radius: 6px;
            font-size: 20px;
        }
        &__control{
            width: calc(20% - 40px);
            height: 40px;
            position: relative;
            background: transparent;
            border: solid 1px #fff;
            border-radius: 0;
            display: block;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            @media screen and (max-width:768px){
                display: none;
            }

            &::placeholder{
                color: black;
                font-weight: bold;
            }
            
        }
    }
    .footer{
    display: flex;
    flex-direction: column;
    background: rgb(44,44,44);
    
    &__info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        @media screen and (max-width:768px){
            justify-content: center;
            margin-top: 2rem;
        }
    }
    &__faq{
        text-decoration: none;
        @media screen and (max-width:768px){
            align-self: flex-start;
            margin-bottom: 30px;
            margin-top: -2rem;

            &__ul{
                display: flex;
                flex-direction: column-reverse;
                margin-top: 30px;
            }
            
        }
    }
    & .extra__titulo{
        color: rgb(255, 124,0);
        font-size: 35px;
        font-family: 'Source Code Pro', monospace;
        @media screen and (max-width:768px){
            display: none;
        }
    }
    & .redesFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    & .extra{
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        font-family: 'Source Code Pro', monospace;
        opacity: 0.5;
        font-size: 15px;
        @media screen and (max-width:768px){
            display: none;
        }
        
    }
    & .extra:hover{
        opacity: 1;
    }
    &__suscribite{
        text-align: right;
        margin-right: 310px;
        
        & .suscribite__titulo{
            color: rgb(255, 124,0);
        font-size: 20px;
        }
        & input{
        padding: 0.6rem;
        }
    
        
    }
}
// FIN DEL FOOTER